*{
  background-color: beige;
}




.logo{
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-container img {
  width: 50%;
  height: auto;
}

.add-to-cart-btn{
  width: 25%;
  height: auto;
  font-size: 1rem;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 0px;
}

.add-to-cart-btn2{
  width: 25%;
  height: auto;
  font-size: 1rem;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 20px;
}

.claseProductos{
  text-align: center;
  font-size: 3rem;
  margin: 25px;
}

.carritoContenedor {
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 600px; 
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 25px;
}

.pie {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 225px;
  padding-bottom: 25px;
}

.product-item{
  display: grid;
  grid-template-rows: auto 1fr; 
  justify-items: center;
  text-align: center; 
}

.carritoDecompras{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  margin-top: 60px;
}

.fotocarrito{
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}



